html {
  height: auto;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
  background: linear-gradient(45deg, rgb(255, 169, 20), rgb(82, 148, 255));
  background-attachment: fixed;
}
